<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Not Found(404)</title>
  </head>
  <body
    style="
      font-family: Barlow;
      background-color: #9999;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      flex-direction: column;
    "
  >
    <h1 style="font-size: 50px; color: yellow">Post Not Found (404) !!!</h1>
    <div style="display: flex ; align-items: center; gap: 8px;">
      <h2>Back To</h2>
      <a href="/blog/posts" style="font-size: 20px; font-weight: bold;">Posts</a>
    </div>
  </body>
</html>
